<div class="container">
    <div class="border shadow rounded mb-5">
        <h2 class="ms-2 mt-2">Contact</h2>
        <ul type="square">
            <li>Email: info&#64;vocal.io</li>
            <li>Tel: 06.01.02.03.04</li>
        </ul>
    </div>

    <div class="list-group">
        <a href="" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/assets/logo_web.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Website</h3>
        </a>
        <a href="" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/assets/logo_github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>
