.tab-content {
    display: flex; 
    justify-content: center; 
    color: gray;
    font-weight: bold;
}

.card-header-skill {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.card {
    margin-top: 8px;
}

.card-content-skill {
    font-size: 14px;
}