<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div>
                <h2>Skills</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-skill">
                                  <b>Frontend</b>
                                  <span class="badge" style="background-color: red;">Angular</span>
                                  <span class="badge" style="background-color: lime;">Android</span>
                                </div>
                            </div>
                            <div class="card-body">
                              <p class="card-text">
                                <tabset [vertical]="true" type="pills">
                                  <tab heading="Foundations">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          HTML, CSS, Javascript, Typescript
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="Styling Frameworks">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Bootstrap, Material UI
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="Angular Ecosystem">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Angular 17, RxJs, ng2-charts, ngx-bootstrap
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="Android Ecosystem">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Java/Kotlin, Jetpack Compose, Coil, Retrofit, Room, Exoplayer, RabbitMQ
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="Tools">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Visual Studio Code, Android Studio, npm, git/github
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                </tabset>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                              <div class="card-header-skill">
                                <b>Backend</b>
                                <span class="badge" style="background-color: orange;">Java</span>
                                <span class="badge" style="background-color: green;">Nodejs</span>
                              </div>
                            </div>
                            <div class="card-body">
                              <p class="card-text">
                                <tabset [vertical]="true" type="pills">
                                  <tab heading="Java Ecosystem">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Java 8+, Hibernate, Spring Boot, jsoup, Gradle/Maven, JUnit, IntelliJ IDEA
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="NodeJs Ecosystem">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Express.js, TypeOrm, Mongoose, Passport.js, Winston, PM2, Jest, npm
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="APIs">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          REST, SSE, WebSockets, AMQP (RabbitMQ), Swagger
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="Databases">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          SQL, MariaDb, PostgreSQL, MongoDb, Redis
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                  <tab heading="DevOps">
                                    <div class="card text-bg-light">
                                      <div class="card-body">
                                        <p class="card-content-skill">
                                          Docker, Git/Github, Linux Debian, VPS
                                        </p>
                                      </div>
                                    </div>
                                  </tab>
                                </tabset>
                              </p>








                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
